{% extends "base.html" %}
{% load render_table from django_tables2 %}
{% load staticfiles %}
{% block title %} {% endblock %}
{% block body %}

<body>
	<!-- container main section start -->
	<section id="container" class="">

	{% block header %}
	<header class="header dark-bg">
	    <div class="toggle-nav">
		<div class="icon-reorder tooltips" data-original-title="Toggle Navigation" data-placement="bottom"><i class="icon_menu"></i></div>
	    </div>

	    <!--logo start-->
		{% url 'index' as index %}
	    <a href="{{ index }}" class="logo">Encontro <span class="lite">2016</span></a>
	    <!--logo end-->

	    <div class="nav search-row" id="top_menu">
		<!--  search form start -->
		<ul class="nav top-menu">
		    <li>
		        <form class="navbar-form">
		            <input class="form-control" placeholder="Buscar..." type="text">
		        </form>
		    </li>
		</ul>
		<!--  search form end -->
	    </div>

	    <div class="top-nav notification-row">
		<!-- notificatoin dropdown start-->
		<ul class="nav pull-right top-menu">
		    <!-- alert notification start-->
		    <li id="alert_notificatoin_bar" class="dropdown">
		        <a data-toggle="dropdown" class="dropdown-toggle" href="#">

		            <i class="icon-bell-l"></i>
		            <span class="badge bg-important">4</span>
		        </a>
		        <ul class="dropdown-menu extended notification">
		            <div class="notify-arrow notify-arrow-blue"></div>
		            <li>
		                <p class="blue">You have 4 new notifications</p>
		            </li>
		            <li>
		                <a href="#">
		                    <span class="label label-primary"><i class="icon_profile"></i></span>
		                    Friend Request
		                    <span class="small italic pull-right">5 mins</span>
		                </a>
		            </li>
		            <li>
		                <a href="#">
		                    <span class="label label-warning"><i class="icon_pin"></i></span>
		                    John location.
		                    <span class="small italic pull-right">50 mins</span>
		                </a>
		            </li>
		            <li>
		                <a href="#">
		                    <span class="label label-danger"><i class="icon_book_alt"></i></span>
		                    Project 3 Completed.
		                    <span class="small italic pull-right">1 hr</span>
		                </a>
		            </li>
		            <li>
		                <a href="#">
		                    <span class="label label-success"><i class="icon_like"></i></span>
		                    Mick appreciated your work.
		                    <span class="small italic pull-right"> Today</span>
		                </a>
		            </li>
		            <li>
		                <a href="#">See all notifications</a>
		            </li>
		        </ul>
		    </li>
		    <!-- alert notification end-->
		    <!-- user login dropdown start-->
		    <li class="dropdown">
		        <a data-toggle="dropdown" class="dropdown-toggle" href="#">
		            <span class="username">{{ user.get_full_name }}</span>
		            <b class="caret"></b>
		        </a>
		        <ul class="dropdown-menu extended logout">
		            <div class="log-arrow-up"></div>
		            {% url 'editar_perfil' as editar_perfil %}
		            <li class="eborder-top"><a href="{{ editar_perfil }}"><i class="icon_profile"></i>Meu Perfil</a></li>
		            {% url 'sair' as sair %}
		            <li><a href="{{ sair }}"><i class="icon_key_alt"></i>Sair</a></li>
		        </ul>
		    </li>
		    <!-- user login dropdown end -->
		</ul>
		<!-- notificatoin dropdown end-->
	    </div>
	</header>
	<!--header end-->
	{% endblock %}

	{% block sidebar %}
	<!--sidebar start-->
	<aside>
	  <div id="sidebar"  class="nav-collapse ">
	    <!-- sidebar menu start-->
	    <ul class="sidebar-menu">
	    {% url 'index' as index %}
		  <li class="active"><a class="" href="{{ index }}"><i class="icon_house_alt"></i><span>Home</span></a></li>
		  <li class="sub-menu">
		    <a href="javascript:;" class="">
		          <i class="icon_laptop"></i>
		          <span>Administração</span>
		          <span class="menu-arrow arrow_carrot-right"></span>
		    </a>
		    <ul class="sub">
							{% url 'cadastrar_usuario' as usuarios %}
		          <li><a class="" href="{{ usuarios }}">Usuários</a></li>
		    </ul>
		  </li>
			<li class="sub-menu">
		    <a href="javascript:;" class="">
		          <i class="icon_globe"></i>
		          <span>Encontro</span>
		          <span class="menu-arrow arrow_carrot-right"></span>
		    </a>
		    <ul class="sub">
		          {% url 'cadastrar_encontros' as encontros %}
		          <li><a class="" href="{{ encontros }}">Encontro</a></li>
							{% url 'cadastrar_equipes' as equipes %}
							<li><a class="" href="{{ equipes }}">Equipes</a></li>
							{% url 'cadastrar_lider' as lideres %}
		          <li><a class="" href="{{ lideres }}">Líderes</a></li>
							{% url 'cadastrar_orgaos' as orgaos %}
		          <li><a class="" href="{{ orgaos }}">Orgãos</a></li>
							{% url 'cadastrar_quartos' as quartos %}
		          <li><a class="" href="{{ quartos }}">Quartos</a></li>
		    </ul>
		  </li>
			<li class="sub-menu">
		    <a href="javascript:;" class="">
		          <i class="icon_datareport_alt"></i>
		          <span>Relatórios</span>
		          <span class="menu-arrow arrow_carrot-right"></span>
		    </a>
		    <ul class="sub">
		          <li><a class="" href="">Camisas</a></li>
		          <li><a class="" href="">Participantes</a></li>
							<li><a class="" href="">Participantes/Quarto</a></li>
		    </ul>
		  </li>

	    </ul>
	    <!-- sidebar menu end-->
	  </div>
	</aside>
	<!--sidebar end-->
	{% endblock %}

   	{% block content %} {% endblock %}

   	</section>
   	<!-- container main section end -->

	{% block scripts %} {% endblock %}

</body>
{% endblock %}
