{% extends "base_adm.html" %}
{% load render_table from django_tables2 %}
{% load staticfiles %}
{% block title %} Cadastro de Orgãos {% endblock %}

{% block css_and_js %}

<link href="{% static 'css/pagination.css' %}" rel="stylesheet" />

<script language="Javascript">
	var MyQuestion = function(mymsg, mypath){
	    this.mymsg = mymsg;
	    this.mypath = mypath;
	};

	MyQuestion.prototype.question = function(){
	    var q = confirm(this.mymsg);
	    if(q){
	        window.location = this.mypath;
	    } else {
	        return false;
	    }
	};
</script>

{% endblock %}

{% block content %}
<!--main content start-->
<section id="main-content">
<section class="wrapper">
<div class="row">
<div class="col-lg-12">

	{% if messages %}
	{% for message in messages %}
	{% if message.tags == "success" %}
	<div class="alert alert-success fade in">
	    <button data-dismiss="alert" class="close close-sm" type="button">
        	<i class="icon_close"></i>
      	</button>
      	<strong>{{ message }}</strong>
	</div>
	{% endif %}
	{% if message.tags == "error" %}
	<div class="alert alert-block alert-danger fade in">
	    <button data-dismiss="alert" class="close close-sm" type="button">
        	<i class="icon_close"></i>
      	</button>
      	<strong>{{ message }}</strong>
	</div>
	{% endif %}
	{% endfor %}
	{% endif %}

	<h3 class="page-header">
		Orgãos
	</h3>
	<!-- cadastrar orgão -->
	<section class="panel">
		<header class="panel-heading">Informe o nome do orgão...</header>                                         
  		<div class="panel-body bio-graph-info">
			<div class="form">
              	<form id="orgao_form" method="POST" class="form-validate form-horizontal">
			    	{% csrf_token %}
          			<div class="form-group">
	              		<label class="col-lg-1 control-label">Nome</label>
				      	<div class="col-lg-4">
							{{ form.nome }}
							{{ form.nome.errors }}
				      	</div>
          			</div>
			  		<div class="form-group">
			      		<div class="col-lg-offset-1 col-lg-10">
			          		<button type="submit" class="btn btn-primary">Cadastrar</button>
			          		{% url 'cadastrar_orgaos' as orgaos %}
			          		<a class="btn btn-danger" href="{{ orgaos }}">Cancelar</a>
			      		</div>
			  		</div>
      			</form>
			</div>
		</div>
	</section>
</div>
</div>
<div class="row">
	<div class="col-lg-12">
	    {% render_table table_orgao %}
	</div>
</div>
</section>
</section>
<!--main content end-->
{% endblock %}

{% block scripts %}

<!-- javascripts -->
<script src="{% static 'js/jquery.js' %}"></script>
<script src="{% static 'js/bootstrap.min.js' %}"></script>
<!-- nice scroll -->
<script src="{% static 'js/jquery.scrollTo.min.js' %}"></script>
<script src="{% static 'js/jquery.nicescroll.js' %}" type="text/javascript"></script>
<!-- jquery knob -->
<script src="{% static 'assets/jquery-knob/js/jquery.knob.js' %}"></script>
<!--custome script for all page-->
<script src="{% static 'js/scripts.js' %}"></script>
<!-- jquery validate js -->
<script src="{% static 'js/jquery.validate.min.js' %}" type="text/javascript"></script>
<!-- custom form validation script for this page-->
<script src="{% static 'js/form-validation-script.js' %}"></script>

{% endblock %}
